*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
header{
    background-color: rgb(75, 0, 119);
}
header .container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 0 20px;
    height: 90px;
}
body {
    padding-bottom: 300px;
}
main .menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
main .menu .container-valor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin: 25px;
}
main .menu .container-valor button{
    margin: 15px;
}
main .card-de-pagamento{
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 40px;
    height: calc(100% - 40px);
    overflow-y: auto;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}
main .ativo{
    transform: translatey(0);
}
main .qr-code{
    object-fit: scale-down;
    height: 200px;
}
