*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(75, 0, 119);
}
header .container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 0 20px;
    height: 90px;
}
header .container-cabecalho #carrinho{
    background-color: transparent;
    border: none;
}
header .container-cabecalho #carrinho img{
    object-fit: scale-down;
    width: 40px;
    height: 30px;
}
header .container-cabecalho img{
    width: 60px;
    height: 80px;
}
header .texto-abaixo-cabecalho{
    display: flex;
    justify-content: center;
    color: #bebebe;
} 
header .texto-abaixo-cabecalho p{
    padding-bottom: 10px;
}
main{
    margin-top: 200px;
}
main .container-conteudo-principal{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    top: 120px;
    z-index: 1;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0px 10px black;
}
main .container-conteudo-principal .bloco-nome{
    align-items: center;
    justify-content: center;
    text-align: center;
}
main .container-conteudo-principal img{
    width: 100%;
}
main .card{
    box-shadow: 0px 5px 10px black;
    border-radius: 10px
}
main .card img{
    width: 100%;
}
main .alerta{
    display: none;
    padding: 15px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    position: fixed;
    text-align: center;
    color: #fff;
    width: 100%;
    top: 80vh;
    background-color:  rgb(75, 0, 119);
}
.alerta.alerta-ativo{
    display: flex;

}
@media(min-width: 768px){
    main{
        margin-top: 330px;
    }
    main .bloco-nome img{
        width: 100%;
        height: 200px;
    }
    main .container-conteudo-principal{
        width: 100%;
    }
}
@media (min-width: 1024px){
    main{
        margin-top: 250px;
    }
}