*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    background-color: rgb(75, 0, 119);
}
header .container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 0 20px;
    height: 90px;
}
header .container-cabecalho #carrinho{
    background-color: transparent;
    border: none;
}
header .container-cabecalho #carrinho img{
    object-fit: scale-down;
    width: 40px;
    height: 30px;
}
header .container-cabecalho img{
    width: 60px;
    height: 80px;
}
header .texto-abaixo-cabecalho{
    display: flex;
    justify-content: center;
    color: #bebebe;
} 
header .texto-abaixo-cabecalho p{
    padding-bottom: 10px;
    text-transform:capitalize;
}
main{
    margin-top: 200px;
}
main .container-conteudo-principal{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    top: 120px;
    z-index: 1;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0px 10px black;
}
main .container-conteudo-principal .bloco-nome{
    align-items: center;
    justify-content: center;
    text-align: center;
}
main .container-conteudo-principal img{
    width: 100%;
}
main .card{
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}
main .card img{
    width: 100%;
    
}
main .alerta{
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    color: #fff;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80vh;
    justify-content: center;
    background-color:  rgba(75, 0, 119, 0.781);
}
.alerta.alerta-ativo{
    opacity: 1;
    visibility: visible;
}
.slick-prev:before, .slick-next:before {
    color:  rgb(75, 0, 119) !important; 
    font-size: 30px !important; /* Opcional: aumenta o tamanho da seta */
    opacity: 1; /* Garante que ela não fique transparente */
}
.slick-prev {
    left: 5px !important;
    z-index: 10;           
}
.slick-next {
    right: 5px !important;
    z-index: 10;
}
.carousel-indicators [data-bs-target]{
    background-color:rgb(255, 255, 255);
    margin-top: 50px;
}
/* Estilos para padronizar o carrossel Sobre Nós */
#meuCarrossel .card {
    min-height: 550px; /* Garante que todos tenham pelo menos essa altura */
    display: flex;
    flex-direction: column;
}
#meuCarrossel .card img {
    height: 250px; /* Força todas as imagens a terem a mesma altura */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço sem esticar */
    border-radius: 5px 5px 0 0;
}
#meuCarrossel .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Empurra o botão para o final do card */
}
.secao-sobre-nos{
    border-top-left-radius: 80px;
    border-bottom-right-radius:80px ;
    background-color:rgb(75, 0, 119);
}
.ativo-produto-apertado {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 20;
    width: 50%;
    top: 10vh;
    right: 14vw;
    width: 70%;
}
.fechar-card{
    display: none;
    position: fixed;
    top: 5vh;
    right: 7vw;
    z-index: 21;
}
.btn-fechar-card {
    filter: invert(1); 
    opacity: 1;
}
.btn-ativo-card{
    display: block;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(5px);
    z-index: 19;
    display: none;
}
.overlay.ativo {
    display: block;
}

@media(min-width: 768px){
    main{
        margin-top: 330px;
    }
    main .bloco-nome img{
        width: 100%;
        height: 200px;
    }
    main .container-conteudo-principal{
        width: 100%;
    }
}
@media (min-width: 1024px){
    main{
        margin-top: 250px;
    }
}